<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <link rel="icon" type="image/x-icon" href="img/favicon-32x32.png">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css">  
  <link href="css/styles.css" rel="stylesheet">
  <title>Ninja Conf</title>
</head>
<body id="body">
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="js/utils.js"></script>
  <script src="js/keys.js"></script>
  <script src="js/hid.js"></script>
  <script src="js/keyboard.js"></script>

  <div id="app" class="app">
    <h1 class="hide" id="webhid">This Browser doesn't support WebHid</h1>
    <button @click="open()">Open</button>
    <button @click="close()">Close</button>
    <button @click="read_conf()">Read Keyboard</button>
    <button @click="write_conf()">Write Keyboard</button>
    <button @click="reset_keys()">Reset Conf</button>
    <button @click="load()">Load from file</button> 
    <button @click="save()">Save to file</button> 
    <div class="keyboards" id="kb1">
        <object data="img/ninja1_left.svg"
            id="ninja1_left_side"
            type="image/svg+xml">
        </object> 
        <object data="img/ninja1_right.svg"
            id="ninja1_right_side"
            type="image/svg+xml">
        </object>
    </div>
    <div class="keyboards" id="kb2">
        <object data="img/corne_left.svg"
            id="corne_left_side"
            type="image/svg+xml">
        </object> 
        <object data="img/corne_right.svg"
            id="corne_right_side"
            type="image/svg+xml">
        </object>
    </div>
    <div class="keyboards" id="kb3">
        <object data="img/ninja2_left.svg"
            id="ninja2_left_side"
            type="image/svg+xml">
        </object> 
        <object data="img/ninja2_right.svg"
            id="ninja2_right_side"
            type="image/svg+xml">
        </object>
    </div>
    <div class="flex justifyCenter">
        <select v-model="layer" @change="change_layer">
            <option  v-for="ly in layers" :value="ly.id" >{{ly.name}}</option>
        </select>
    </div>
    <textarea id="test_area"></textarea>
    <div class="keyDialog" id="key_dialog">        
        <div class="flex column" >
            <b class="flex key justifyCenter" >{{current.symbol}}</b>
            <select class="flex justifyCenter" v-model="selected_symbol">
                <option></option>
                <option  v-for="letter in letters" :value="letter.code" >{{letter.symbol}}</option>
            </select>
            <button @click="set_key()">Set</button>
            <button @click="dialog_hide()">Cancel</button>
        </div>
        
        <!-- <ul>
          <li>side: {{current.side}}</li>
          <li>key: [{{current.key.row}},{{current.key.col}}]</li>
          <li>code: {{current.code}}</li>
          <li>type: {{current.ktype}}</li>
          <li>symbol: {{current.symbol}}</li>          
        </ul> -->
    </div>

  </div>
  <script>
    const svgNS = "http://www.w3.org/2000/svg";
    
    const font="Courier"
    const font_size=18
    
    

    const { createApp } = Vue

    createApp({
        data() {
            return {
                hid:Hid,
                kb:Keyboard,
                webhid:false,
                canvas:null,
                canvas_context:null,
                layer:0,
                layers:[],
                last:false,
                model:1,
                left_side:null,
                right_side:null,
                current:{
                    ktype:null,
                    code:null,
                    key:{
                        row:null,
                        col:null
                    },
                    side:"",
                    symbol:""
                },
                selected_symbol:"",
                letters:[],
                sides:[],
                dialog:null,
                
            }
        },
        methods: {
            
            async open(){
                await this.hid.get_devices()
                await this.update()       
            },
            close (){
                this.hid.close()
            },
            async update(){
                await this.kb.request_kb_info(this.hid.ninja_kb_device)
                this.layers=this.kb.layers
                //console.log("model ",this.kb.MODEL)
                this.model=this.kb.MODEL
                await this.read_conf()
            },
            async read_conf(){
                await this.kb.read_keys(this.hid.ninja_kb_device)
                this.change_layer(this.layer)
            },
            async write_conf(){
                await this.kb.write_keys(this.hid.ninja_kb_device)
            },
            write_conf(){
                reset_keys(device);
            }
            ,
            change_layer(e){
                console.log("model ",this.model)
                console.log("sides ",this.sides)
                for(let i=1;i<4;i++){
                    if(i!=this.model){
                        if(this.sides[i][2])
                            this.sides[i][2].style.display="none";
                    }
                }
                if(this.sides[this.model][2])
                    this.sides[this.model][2].style.display="flex";
                
                this.set_keys_text(this.sides[this.model][0])
                this.set_keys_text(this.sides[this.model][1])
                //console.log(this.layer)
            },
            load(){
                //TODO: load from file
            },
            save(){
                let fileContent = JSON.stringify(this.kb.keys,null,2);
                let bb = new Blob([fileContent ], { type: 'text/plain' });
                let a = document.createElement('a');
                a.download = 'ninja_corne.json';
                a.href = window.URL.createObjectURL(bb);
                a.click();
            },
            set_key(){
                const {row,col}=this.current.key;                
                const side=(this.current.side=="left_side"?0:1)
                let key=this.kb.keys[side][this.layer][row][col]
                key.ktype=0
                key.code=this.selected_symbol
                this.current.symbol=key_codes[key.code].symbol
                const svg=document.getElementById(this.current.side)
                const doc=svg.contentDocument
                let key_e=doc.getElementById(`r${row}c${col}`)
                let g=doc.getElementById("svg9")
                let key_t=doc.getElementById(`key_text_${side}_r${row}c${col}`)
                if(key_t!=null){
                    const bb=key_e.getBoundingClientRect()
                    key_t.innerHTML=this.current.symbol
                    const l=this.displayTextWidth(this.current.symbol,font,font_size)/2
                    key_t.setAttributeNS(null,"x",bb.x+(bb.right-bb.x)/2-l);                    
                }
                this.dialog_hide()
            },
            set_key_info(svg,side,i,j,e){
                const key=this.kb.keys[side][this.layer][i][j]
                this.selected_symbol=key.code
                this.current.side=svg.id
                this.current.key.row=i
                this.current.key.col=j
                this.current.ktype=key.ktype
                this.current.code=key.code
                this.current.symbol=key_codes[key.code].symbol
                const lastdp_none=this.dialog.style.display=="none"
                this.dialog.style.display="block"
                if(lastdp_none){
                    setTimeout(()=>{
                        this.move_dialog(svg,i,j)
                    },100)
                }else{
                    this.move_dialog(svg,i,j)
                }
            },
            move_dialog(svg,i,j){
                const svg_bb=svg.getBoundingClientRect()
                const doc=svg.contentDocument
                let key_e=doc.getElementById(`r${i}c${j}`)
                const key_bb=key_e.getBoundingClientRect()
                const dialog_bb=this.dialog.getBoundingClientRect()
                const w=dialog_bb.width-key_bb.width
                this.dialog.style.left=(svg_bb.x+key_bb.x-w/2)+"px";
                this.dialog.style.top=key_bb.y+key_bb.height+svg_bb.y+"px";
                this.dialog.focus()
            },
            //svg
            set_keys_text(svg){
                if(svg==null){
                    console.log("no svg")
                    return
                }
                const doc=svg.contentDocument
                const side=(svg.id.includes("left_side")?0:1)
                let g=doc.getElementById("svg9")
                for(let i=0;i<this.kb.nROWS;i++){
                    for(let j=0;j<this.kb.nCOLS;j++){
                        let key_rect_e=doc.getElementById(`r${i}c${j}`)
                        if(key_rect_e!=null){
                            let key=this.kb.keys[side][this.layer][i][j]
                            let t=""
                            if(key.ktype==0){
                                t=key_codes[key.code].symbol
                            }else if(key.ktype==1){
                                t="Layer"
                            }
                            if(t!=null){
                                const l=this.displayTextWidth(t,font,font_size)/2
                                let tid=`key_text_${side}_r${i}c${j}`;
                                let _txt_e=doc.getElementById(tid)
                                let key_txt_e=_txt_e
                                if(_txt_e==null){
                                    key_txt_e=document.createElementNS(svgNS,"text")
                                    key_txt_e.setAttribute("id",tid);
                                    key_txt_e.setAttribute("cursor","pointer");
                                    key_txt_e.setAttributeNS(null,"text-align","center");
                                    
                                    key_txt_e.addEventListener("click",event=>{
                                        this.set_key_info(svg,side,i,j)
                                    }) 
                                    key_rect_e=key_rect_e
                                    key_rect_e.setAttribute("cursor","pointer");
                                    key_rect_e.addEventListener("click",event=>{                                        
                                        this.set_key_info(svg,side,i,j,event)
                                    }) 
                                    g.appendChild(key_txt_e)
                                }
                                const bb=key_rect_e.getBoundingClientRect()
                                key_txt_e.setAttributeNS(null,"x",bb.x+(bb.right-bb.x)/2-l);
                                key_txt_e.setAttributeNS(null,"y",bb.y+(bb.bottom-bb.y)/2+10);
                                key_txt_e.setAttributeNS(null,"font-family",font);
                                key_txt_e.setAttributeNS(null,"font-size",font_size);
                                key_txt_e.innerHTML=t.replace(/</,"&lt;").replace(/>/,"&gt;")
                            }
                        }
                    }
                }
            },
            displayTextWidth(text, font,size){
                if(this.canvas_context!=null){
                    this.canvas_context.font =size+"px "+ font;
                    const metrics = this.canvas_context.measureText(text);
                    return metrics.width;
                }else{
                    return 0;
                }
            },
            dialog_hide(){
                if(this.dialog!=null)
                    this.dialog.style.display="none"
            },
            change_key_bg(key_code,color){
                for(let s=0;s<this.nSIDES;s++){
                    const svg=this.sides[s]
                    const doc=svg.contentDocument
                    for(let i=0;i<this.nROWS;i++){
                        for(let j=0;j<this.nCOLS;j++){
                            let key=this.kb.keys[s][this.layer][i][j]                                    
                            if(key.ktype==0){
                                let k=key_codes[key.code].name
                                if( k==key_code)
                                {
                                    let el=doc.getElementById(`r${i}c${j}`)
                                    el.style.fill=color
                                }
                            }
                        }
                    }
                }
            }
        },
        mounted() {
            this.canvas = document.createElement("canvas");
            this.canvas_context = this.canvas.getContext("2d");
            
            this.sides=[
                [null,null],//empty model
                [
                    document.getElementById("ninja1_left_side"),
                    document.getElementById("ninja1_right_side"),
                    document.getElementById("kb1")
                ],                
                [
                    document.getElementById("corne_left_side"),
                    document.getElementById("corne_right_side"),
                    document.getElementById("kb2")
                ],
                [
                    document.getElementById("ninja2_left_side"),
                    document.getElementById("ninja2_right_side"),
                    document.getElementById("kb3")
                ],
            ]
            this.dialog=document.getElementById("key_dialog")
            window.addEventListener("keydown",(e)=>{
                if (!e.repeat){
                    console.log("key ",e)
                    if(e.key == "Escape"){
                        this.dialog_hide()
                    }
                    this.change_key_bg(e.code,"#0a0")
                }
            })
            window.addEventListener("keyup",(e)=>{
                if (!e.repeat){                    
                    if(e.key == "Escape"){
                        this.dialog_hide()
                    }
                    this.change_key_bg(e.code,"rgb(180,180,180)")
                }
            })
            document.addEventListener("click",(e)=>{                
                const bb=this.dialog.getBoundingClientRect()
                if( !(e.x>=bb.left && e.x<=bb.right && e.y>=bb.top && e.y<=bb.bottom) )
                    this.dialog_hide()
            });
            
            this.letters.push({code:0x100,symbol:key_codes[0x100].symbol})
            for(let i=keys_letters_numbers.from;i<keys_letters_numbers.to;i++){
                if(key_codes[i]!=null){
                    this.letters.push({code:i,symbol:key_codes[i].symbol,name:key_codes[i].name})
                }
            }

            webhid=("hid" in navigator)
            if(!webhid){
                let wh=document.getElementById("webhid")
                wh.className="show"
                
            }else{
                this.hid.open().then(()=>this.update())
            }
        }
    }).mount('#app')


    
    
  </script>
</body>
</html>
